.selectfield {
    width: 100%;
    font-family: 'Poppins';


}

/* Estiliza o container principal */
.custom-select {
    /* Adicione seus estilos personalizados aqui */
    background-color: red;
    margin-bottom: 10px;
    margin-right: 60px;


}